@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.startBar {
  background-color: #eb7b87;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding-top: 10px;
}

.title {
  font-size: 72px;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 95%;
}

.title-details {
  margin-right: 4rem;
}

.homeButton {
  display: flex;
  background-color: transparent;
  border: 0;
  background-image: url(https://imgur.com/sQaP2n7);
  background-repeat: no-repeat;
  background-position: center;
  width: 2.2em;
  padding: 10px;
  object-fit: contain;
  background-position: 8px 8px;
  margin-right: 50px;
}

.homeButton:hover {
  background-color: transparent;
}

.homeButton img {
  height: 3rem;
}

.searchBar {
  border-radius: 7px;
  color: white;
  background-color: #eb7b87;
  border: 0;
  margin: 30px 40px;
  justify-items: center;
  display: flex;
  width: 88%;
  height: 41px;
  justify-content: space-around;
}

.cell {
  margin: 0;
  width: 98%;
  display: flex;
  justify-content: baseline;
}

.pokeball-search {
  max-width: 40px;
  max-height: 50px;
  cursor: pointer;
}

.input {
  color: white;
  background-color: #eb7b87;
  border: 0;
}

.input::placeholder {
  color: #fff;
  font-size: 1rem;
  width: 100%;
  margin: 20px 40px;
}

.input:focus {
  outline: none;
}

.Pokemon {
  display: grid;
  grid-template-columns: 12em 10em 3em;
  justify-content: center;
  align-items: center;
  margin-right: 14em;
}

#pokemonContainer {
  border-radius: 50%;
  border: 0.1em solid rgba(173, 170, 170, 0.5);
  padding: 1.5em 1.5em;
  margin: 1.2em;
}

.Pokemon img {
  width: 7em;
  height: 7em;
}
.Pokemon h1 {
  margin-top: 1.75em;
}
.pokeImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.description {
  margin: 40px 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.moveSet {
  display: flex;
  margin: 0 100px;
}

.card {
  border-radius: 10px;
  background-color: #97c7af;
  font-size: 10px;
  margin: 15px 30px;
  padding: 15px 30px;
  transition: 0.5s;
}

.card:hover {
  background-color: springgreen;
}

h4 {
  font-size: 20px;
  margin: 10px 0;
}

input[type='search'],
div.button {
  width: 100%;
  height: 35px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-self: center;
}

input[type='search'] {
  margin: 0;
  padding: 0 10px;

  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input[type='button'] {
  box-shadow: 0 0 4px gray;
  padding: 1em;
  background-color: #fb8b97;
}

input[type='search'],
div.button {
  width: 100%;
  height: 35px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.button {
  line-height: 35px;

  margin: 0;
  padding: 0 20px;

  color: #fff;
  background-color: #ff1717;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  white-space: nowrap;
}

button {
  background: none;
  border: none;
}

.fa-plus-circle {
  color: rgba(173, 170, 170, 0.8);
}
