@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.startBar {
  background-color: #EB7B87;
  width: 100%;
  display: flex;
  justify-content: center;     
}

.title, .title--details {
  font-family: 'Pokemon', sans-serif;
  font-size: 50px; 
  color: #F1D220;
  text-shadow: -2px 0 #5961AA, 0 3px #5961AA, 7px 0#5961AA, 0 -3px #5961AA;
  margin: 0;
}

.startBar--details {
  background-color: #EB7B87;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title--details {
  margin-left: 32rem;
}

.home-img {
  margin-right: 2rem;
  margin-top: 2rem;
  max-width: 50px;
  max-height: 50px;
}

.homeButton:hover {
  background-color: transparent;
}

.searchBar {
  border-radius: 5px;
  color: white;
  background-color: #EB7B87;
  border: 0;
  margin: 20px 40px;
  display: flex;
  width: 80%;
}

.cell {
  display: flex;
  justify-content: space-between;
}

.pokeball-search {
  max-width: 50px;
  max-height: 50px;
  cursor:pointer;
}

.input {
  background-color: #EB7B87;
  border: 0;
}

.input::placeholder {
  color:#fff;
  font-size: 1rem;
  width: 100%;
  margin: 20px 40px;
}

.input:focus {
  outline: none;
}

.Pokemon{
  display:grid;
  grid-template-columns:12em auto;
}

.Pokemon img{
  width:9em;
  height:9em;
}
.Pokemon h1{
  margin-top: 1.75em;
}
.pokeImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.description {
  margin: 40px 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.moveSet {
  display: flex;
  margin: 0 100px;    
}

.card {
  border-radius: 10px;
  background-color: #97C7AF;
  font-size: 10px;
  margin: 15px 30px;
  padding: 15px 30px;
  transition: 0.5s;
}


.card:hover {
  background-color: springgreen;
}

.cell {
  margin: 0 20px;
  width: 90%;
}

h4 {
  font-size: 20px;
  margin: 10px 0;
}

/* input[type=search],  */
div.button {  
  width: 100%;
  height: 35px;
  /* -moz-box-sizing: border-box; */
  box-sizing: border-box;
  
}

/* input[type=search] {
  margin: 0;
  padding: 0 10px;
    
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
} */
input[type=button] {

  box-shadow: 0 0 4px gray ;
  padding: 1em;
  background-color: #FB8B97;
}

div.button {
  line-height: 35px;

  margin: 0;
  padding: 0 20px;

  color: #fff;
  background-color: #FF1717;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  white-space: nowrap;
}